@*@{
        Layout = null;
    }*@
@{
    ViewBag.Title = "JetPay Payments Services, FL";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Magic API - Magic RESTful and SOAP API Collections</title>
    <link href="~/Content/LaunchPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Images/magic-logo-color.png" alt="logo" height="42">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Index", "Home")">.NET</a>
                    </li>
                    <li>
                        <a href="#">Java</a>
                    </li>
                    <li>
                        <a href="#">jQuery</a>
                    </li>
                    <li>
                        <a href="#">PHP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MAGIC API</h1>
                        <h3>Magic Application Programming Interface - Developer Reference</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">.NET</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p><i class="devicon-dot-net-plain-wordmark colored"></i></p>
                                        <p><a href="@Url.Action("Index", "Home")" class="btn btn-default btn-lg"><span class="demo-name">SOAP Demo &raquo;</span></a></p>
                                        <p><a href="#" class="btn btn-default btn-lg disabled"><span class="demo-name">RESTful Demo &raquo;</span></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Java</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p><i class="devicon-java-plain-wordmark colored"></i></p>
                                        <p><a href="#" class="btn btn-default btn-lg disabled"><span class="demo-name">SOAP Demo &raquo;</span></a></p>
                                        <p><a href="#" class="btn btn-default btn-lg disabled"><span class="demo-name">RESTful Demo &raquo;</span></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">jQuery</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p><i class="devicon-jquery-plain-wordmark colored"></i></p>
                                        <p><a href="#" class="btn btn-default btn-lg disabled"><span class="demo-name">SOAP Demo &raquo;</span></a></p>
                                        <p><a href="https://magic-api-js.azurewebsites.net/" class="btn btn-default btn-lg"><span class="demo-name">RESTful Demo &raquo;</span></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">PHP</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p><i class="devicon-php-plain colored"></i></p>
                                        <p><a href="#" class="btn btn-default btn-lg disabled"><span class="demo-name">SOAP Demo &raquo;</span></a></p>
                                        <p><a href="#" class="btn btn-default btn-lg disabled"><span class="demo-name">RESTful Demo &raquo;</span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/JetPay" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/JetpayPaymentServices-Dev-FL" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/jetpay" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Page Content -->
</body>
</html>
