@model SOAP_dontDropIt.Models.VirtualTerminalTransactionPostResponseModels.VT_TRANSACTION
@using SOAP_dontDropIt.Models;


@if (Model != null)
{
    <hr>
    <div class="container">
        <div class="col-md-6 col-md-offset-3" style="padding-left:0;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Virtual Terminal Response</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Transaction Identifier</td>
                                <td>Response Code</td>
                            </tr>
                            <tr>
                                <td><strong>@Model.TRANSACTIONID</strong></td>
                                <td><strong>@Model.RESPONSECODE</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}




